@import './variables';

.app {
  display: flex;
  flex-flow: column nowrap;
  height: 100vh;
  header {
    h1 {
      background: #243E53;
      font-size: 1em;
      text-transform: uppercase;
      padding: 0.5em;
      font-weight: 400;
      strong {
        color: #ffdd00;
      }
    }
  }
  .slides-container {
    flex: 1 1 auto;
    position: relative;
  }
}

.slide-enter {
  transform: translate(100%);
}
.slide-enter.slide-enter-active {
  transform: translate(0%);
  transition: transform 500ms ease-in-out;
}
.slide-exit {
  transform: translate(0%);
}
.slide-exit.slide-exit-active {
  transform: translate(-100%);
  transition: transform 500ms ease-in-out;
}
