$yellow: #ffdd00;

.slide-page {
  background: #26303c;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  padding: 5vh 0;
  .slide-page-content {
    margin: auto;
    width: 65vw;
    position: relative;
  }
  .image-frame {
    padding: 1em 0;
    img {
      width: 100%;
    }
  }
  .gist-container {
    display: flex;
  }
  h1 {

  }
  h2 {
    font-weight: 300;
    font-size: 1.4em;
    color: $yellow;
  }
  strong {
    color: $yellow;
    font-weight: normal;
  }
}
